body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #31495e;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

p {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.main {
    height:80vh;
    background-color: #7a808c;
    margin: 5vh 5vh 5vh 5vh;
    //position: relative;
}

.content {
    height: 100%;
    overflow:hidden;
    //position: absolute;
}

.table-row {
    display: flex;
    height: 16.6666%;
}

.table-row-final {
    flex-direction: column;
}

.cell {
    background-color: #535456;
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background-color: #404142;
    cursor: pointer;
}

.cell-title {
    flex: 2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.cell-title:hover {
    font-size: 37px;
    color: #dedfe0;
    cursor: pointer;
}

.cell-price {
    flex: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 50px;
    color: #e2dd7c;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.cell-price:hover {
    font-size: 55px;
    color: #ceca77;
}

.cell-final {
    width: 30%;
    max-width: 30%;
    align-self: center;
}

.yellow-border {
    border: 4px solid #e2dd7c;
}

.cell-text {
    display: table-cell;
}

.question-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 50px;
    color: #e2dd7c;
    text-align: center;
}

.event-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 80px;
    color: #e2dd7c;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    text-align: center;
}

.question-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bottom {
    position:absolute;
    bottom:0;
}

footer {
    background-color: #333435;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.non-selectable-cell {
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-cell-title {
    flex: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
