<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>Своя игра - игровая панель</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/snackbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin_view.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/admin_view.js' %}"></script>
    </head>
<body>

    <div class="main">

        <a id="exit_button" class="text button button-active top-right-corner">ВЫХОД</a>

        <div id="auth" class="auth-holder">
            <input id="token_input" class="input" placeholder="Код игры">
            <a id="auth_button" class="text button button-active">ВОЙТИ</a>
        </div>

        <div id="table" class="content" style="display:none">
            <div class="table-row">
                <div id="title0" class="cell cell-title"></div>
                <div id="price00" class="cell cell-price"></div>
                <div id="price01" class="cell cell-price"></div>
                <div id="price02" class="cell cell-price"></div>
                <div id="price03" class="cell cell-price"></div>
                <div id="price04" class="cell cell-price"></div>
            </div>
            <div class="table-row">
                <div id="title1" class="cell cell-title"></div>
                <div id="price10" class="cell cell-price"></div>
                <div id="price11" class="cell cell-price"></div>
                <div id="price12" class="cell cell-price"></div>
                <div id="price13" class="cell cell-price"></div>
                <div id="price14" class="cell cell-price"></div>
            </div>
            <div class="table-row">
                <div id="title2" class="cell cell-title"></div>
                <div id="price20" class="cell cell-price"></div>
                <div id="price21" class="cell cell-price"></div>
                <div id="price22" class="cell cell-price"></div>
                <div id="price23" class="cell cell-price"></div>
                <div id="price24" class="cell cell-price"></div>
            </div>
            <div class="table-row">
                <div id="title3" class="cell cell-title"></div>
                <div id="price30" class="cell cell-price"></div>
                <div id="price31" class="cell cell-price"></div>
                <div id="price32" class="cell cell-price"></div>
                <div id="price33" class="cell cell-price"></div>
                <div id="price34" class="cell cell-price"></div>
            </div>
            <div class="table-row">
                <div id="title4" class="cell cell-title"></div>
                <div id="price40" class="cell cell-price"></div>
                <div id="price41" class="cell cell-price"></div>
                <div id="price42" class="cell cell-price"></div>
                <div id="price43" class="cell cell-price"></div>
                <div id="price44" class="cell cell-price"></div>
            </div>
            <div class="table-row">
                <div id="title5" class="cell cell-title"></div>
                <div id="price50" class="cell cell-price"></div>
                <div id="price51" class="cell cell-price"></div>
                <div id="price52" class="cell cell-price"></div>
                <div id="price53" class="cell cell-price"></div>
                <div id="price54" class="cell cell-price"></div>
            </div>
        </div>

        <div id="topics_all" class="content" style="display:none">
            <div class="table-row">
                <div id="theme0" class="cell cell-title"></div>
                <div id="theme1" class="cell cell-title"></div>
                <div id="theme2" class="cell cell-title"></div>
            </div>
            <div class="table-row">
                <div id="theme3" class="cell cell-title"></div>
                <div id="theme4" class="cell cell-title"></div>
                <div id="theme5" class="cell cell-title"></div>
            </div>
            <div class="table-row">
                <div id="theme6" class="cell cell-title"></div>
                <div id="theme7" class="cell cell-title"></div>
                <div id="theme8" class="cell cell-title"></div>
            </div>
            <div class="table-row">
                <div id="theme9" class="cell cell-title"></div>
                <div id="theme10" class="cell cell-title"></div>
                <div id="theme11" class="cell cell-title"></div>
            </div>
            <div class="table-row">
                <div id="theme12" class="cell cell-title"></div>
                <div id="theme13" class="cell cell-title"></div>
                <div id="theme14" class="cell cell-title"></div>
            </div>
            <div class="table-row">
                <div id="theme15" class="cell cell-title"></div>
                <div id="theme16" class="cell cell-title"></div>
                <div id="theme17" class="cell cell-title"></div>
            </div>
        </div>

        <div id="topics_final" class="content" style="display:none">
            <div class="table-row-final">
                <div id="theme_final0" class="cell cell-title cell-final"></div>
            </div>
            <div class="table-row-final">
                <div id="theme_final1" class="cell cell-title cell-final"></div>
            </div>
            <div class="table-row-final">
                <div id="theme_final2" class="cell cell-title cell-final"></div>
            </div>
            <div class="table-row-final">
                <div id="theme_final3" class="cell cell-title cell-final"></div>
            </div>
            <div class="table-row-final">
                <div id="theme_final4" class="cell cell-title cell-final"></div>
            </div>
            <div class="table-row-final">
                <div id="theme_final5" class="cell cell-title cell-final"></div>
            </div>
            <div class="table-row-final">
                <div id="theme_final6" class="cell cell-title cell-final"></div>
            </div>
        </div>

        <div id="questionText" class="content question-text" style="display:none; margin: 50px 50px 50px 50px; white-space: pre-line;"></div>

        <div id="event" class="content event-text" style="display:none; margin: 50px 50px 50px 50px; white-space: pre-line;"></div>

        <div id="questionImage" class="content" style="display:none">
            <img
                id="questionImageImg"
                class="question-image"
                alt="Изображение">
        </div>

        <div id="question_video_holder" class="content" style="display:none">
            <video id="video" class="question-video">
                <source id="video_source" src="" type="video/mp4">
            </video>
        </div>

    </div>

    <footer>
        <div id="player0" class="no-background-cell footer-cell-title"></div>
        <div id="player1" class="no-background-cell footer-cell-title"></div>
        <div id="player2" class="no-background-cell footer-cell-title"></div>
        <div id="token" class="no-background-cell footer-cell-title"></div>
    </footer>

    <div id="snackbar">Some text some message..</div>

</body>
