<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/admin.js' %}"></script>
    </head>
<body>

    <header>
        <div id="token" class="text auth-holder" style="position: absolute; font-size: 30px; margin-left: 50px;"></div>
        <div id="auth_holder" class="auth-holder" style="margin-left: 250px;">
            <input id="token_input" class="text-input input inline" style="margin-right: 10px;" placeholder="Код игры">
            <a id="auth_button" class="text button button-active inline">ВХОД</a>
        </div>
        <div id="logout_holder" class="auth-holder" style="float: right; margin-right: 300px;">
            <a id="logout_button" class="text button button-active inline">ВЫХОД</a>
        </div>
    </header>
    <nav></nav>
    <main>
        <div id="create_game" class="create-game-holder text">
            <input id="create_game_file" name="game.siq" type="file"><br><br>
            <a id="create_game_button" class="text button button-active">СОЗДАТЬ ИГРУ</a>
        </div>
        <div id="table" class="content">
            <div class="table-row">
                <div id="title0" class="text cell cell-title cell-title-active">Заголовок</div>
                <div id="price00" class="text-price cell cell-price cell-price-active">100</div>
                <div id="price01" class="text-price cell cell-price cell-price-active">200</div>
                <div id="price02" class="text-price cell cell-price cell-price-active">300</div>
                <div id="price03" class="text-price cell cell-price cell-price-active">400</div>
                <div id="price04" class="text-price cell cell-price cell-price-active">500</div>
            </div>
            <div class="table-row">
                <div id="title1" class="text cell cell-title cell-title-active">Заголовок</div>
                <div id="price10" class="text-price cell cell-price cell-price-active">100</div>
                <div id="price11" class="text-price cell cell-price cell-price-active">200</div>
                <div id="price12" class="text-price cell cell-price cell-price-active">300</div>
                <div id="price13" class="text-price cell cell-price cell-price-active">400</div>
                <div id="price14" class="text-price cell cell-price cell-price-active">500</div>
            </div>
            <div class="table-row">
                <div id="title2" class="text cell cell-title cell-title-active">Заголовок</div>
                <div id="price20" class="text-price cell cell-price cell-price-active">100</div>
                <div id="price21" class="text-price cell cell-price cell-price-active">200</div>
                <div id="price22" class="text-price cell cell-price cell-price-active">300</div>
                <div id="price23" class="text-price cell cell-price cell-price-active">400</div>
                <div id="price24" class="text-price cell cell-price cell-price-active">500</div>
            </div>
            <div class="table-row">
                <div id="title3" class="text cell cell-title cell-title-active">Заголовок</div>
                <div id="price30" class="text-price cell cell-price cell-price-active">100</div>
                <div id="price31" class="text-price cell cell-price cell-price-active">200</div>
                <div id="price32" class="text-price cell cell-price cell-price-active">300</div>
                <div id="price33" class="text-price cell cell-price cell-price-active">400</div>
                <div id="price34" class="text-price cell cell-price cell-price-active">500</div>
            </div>
            <div class="table-row">
                <div id="title4" class="text cell cell-title cell-title-active">Заголовок</div>
                <div id="price40" class="text-price cell cell-price cell-price-active">100</div>
                <div id="price41" class="text-price cell cell-price cell-price-active">200</div>
                <div id="price42" class="text-price cell cell-price cell-price-active">300</div>
                <div id="price43" class="text-price cell cell-price cell-price-active">400</div>
                <div id="price44" class="text-price cell cell-price cell-price-active">500</div>
            </div>
            <div class="table-row">
                <div id="title5" class="text cell cell-title cell-title-active">Заголовок</div>
                <div id="price50" class="text-price cell cell-price cell-price-active">100</div>
                <div id="price51" class="text-price cell cell-price cell-price-active">200</div>
                <div id="price52" class="text-price cell cell-price cell-price-active">300</div>
                <div id="price53" class="text-price cell cell-price cell-price-active">400</div>
                <div id="price54" class="text-price cell cell-price cell-price-active">500</div>
            </div>
            <div class="table-row">
                <div id="title6" class="text cell cell-title cell-title-active">Заголовок</div>
                <div id="price60" class="text-price cell cell-price cell-price-active">100</div>
                <div id="price61" class="text-price cell cell-price cell-price-active">200</div>
                <div id="price62" class="text-price cell cell-price cell-price-active">300</div>
                <div id="price63" class="text-price cell cell-price cell-price-active">400</div>
                <div id="price64" class="text-price cell cell-price cell-price-active">500</div>
            </div>
        </div>
        <div id="error" class="text main-info">Сообщение об ошибке</div>
        <div id="main_info" class="text main-info">Здесь находится основная информация</div>
    </main>
    <aside>
        <div id="players_edit_holder" class="auth-holder">
            <div id="edit_balance1_name" class="text">Игрок 1</div>
            <input id="edit_balance1" class="text-input input inline" style="margin-bottom: 10px; width: 100%;" placeholder="Баланс">
            <div id="edit_balance2_name" class="text">Игрок 2</div>
            <input id="edit_balance2" class="text-input input inline" style="margin-bottom: 10px; width: 100%;" placeholder="Баланс">
            <div id="edit_balance3_name" class="text">Игрок 3</div>
            <input id="edit_balance3" class="text-input input inline" style="margin-bottom: 10px; width: 100%;" placeholder="Баланс">
            <a id="players_save_button" class="text button button-active inline" style="width: 100%;">СОХРАНИТЬ | НЕ РАБОТАЕТ</a>
        </div>
        <a id="skip_question" class="text button button-active inline"
           style="position: absolute; left: 20px; right: 20px; bottom: 20px;">ПРОПУСК ВОПРОСА</a>
    </aside>
    <footer>
        <div id="player1" class="text cell cell-title cell-title-active" style="white-space: pre-line;">УЧАСТНИК1</div>
        <div id="player2" class="text cell cell-title cell-title-active" style="white-space: pre-line;">УЧАСТНИК2</div>
        <div id="player3" class="text cell cell-title cell-title-active" style="white-space: pre-line;">УЧАСТНИК3</div>
        <div class="text cell disabled-cell-title">
            <div>
                <input id="bet_input" class="text-input input inline"
                       style="margin-bottom: 10px; width: 80%;" placeholder="Ставка">
            </div>
            <div style="width: 150px;">
                <div id="answer_correct" class="text cell cell-title cell-title-active" style="padding: 10px">ВЕРНО</div>
                <div id="answer_wrong" class="text cell cell-title cell-title-active" style="padding: 10px">НЕВЕРНО</div>
            </div>
        </div>
        <div id="next" class="text cell cell-title">Далее</div>
    </footer>

</body>