<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/snackbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/player.js' %}"></script>
    </head>
<body>

    <header>
        <a id="exit_button" class="exit-button text button button-active">ВЫХОД</a>
    </header>

    <section>
        <div class="wrapper">
            <div class="column1">
                <div id="bet_holder" class="auth-holder">
                    <input id="bet_input" class="input" placeholder="Ставка">
                    <a id="bet_button" class="text button button-active">СОХРАНИТЬ</a>
                </div>
                <div id="answer_holder" class="auth-holder">
                    <input id="answer_input" class="input" placeholder="Ответ">
                    <a id="answer_button" class="text button button-active">СОХРАНИТЬ</a>
                </div>
                <div id="button_holder" class="big-red-button-holder">
                    <a id="button" class="big-red-button big-red-button-active"></a>
                </div>
                <div id="auth_holder" class="auth-holder">
                    <input id="name_input" class="input" placeholder="Имя">
                    <input id="token_input" class="input" placeholder="Код игры">
                    <a id="auth_button" class="text button button-active">ВХОД</a>
                </div>
            </div>
            <div class="column2">
                <div class="user-info-holder">
                    <p id="name" class="text-name"></p>
                    <p id="balance" class="text-balance"></p>
                    <p id="info" class="text-name"></p>
                </div>
            </div>
        </div>
    </section>

    <div id="snackbar">Some text some message..</div>

</body>
